#hero-overlay {
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center center;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
}
form{
  position:relative;
  z-index: 0;  
}
