/* #event-overlay {
    background-image: url('./event.jpg');
    background-size: cover;
    background-position: center center;
    position:absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
  } */

  #content {
    padding-top: 70px;
  }

  #grid{
    padding-left: 10px
  }